@{
    ViewData["Title"] = "Reporte Excel";
    var hoy = DateTime.Today;
    var haceUnMes = hoy.AddMonths(-1);
    var mesActual = hoy.Month;
    var anoActual = hoy.Year;
    var mesAnterior = haceUnMes.Month;
    var mesAnteriorAno = haceUnMes.Year;
    var anoAnterior = anoActual - 1;
}

<partial name="_Submenu" model="SubMenuTransacciones.Excel" />

<h1>Exportar Transacciones a Excel</h1>

<div class="mb-3">
    <a class="btn btn-success" asp-action="ExportarExcelPorMes" asp-route-mes="@mesActual" asp-route-ano="@anoActual">
        Exportar mes actual
    </a> ~ @hoy.ToString("MMMM yyyy")
</div>

<div class="mb-3">
    <a class="btn btn-success" asp-action="ExportarExcelPorMes" asp-route-mes="@mesAnterior" asp-route-ano="@mesAnteriorAno">
        Exportar mes anterior
    </a> ~ @haceUnMes.ToString("MMMM yyyy")
</div>

<div class="mb-3">
    <a class="btn btn-success" asp-action="ExportarExcelPorAno" asp-route-ano="@anoActual">
        Exportar año actual
    </a> ~ @anoActual
</div>

<div class="mb-3">
    <a class="btn btn-success" asp-action="ExportarExcelPorAno" asp-route-ano="@anoAnterior">
        Exportar año anterior
    </a> ~ @anoAnterior
</div>

<div class="mb-3">
    <a class="btn btn-success" asp-action="ExportarExcelTodo">
        Exportar todo
    </a>
</div>